{% extends 'base.html' %}
{% load picker_extras %}

{% block head %}
{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'index' %}">CGBS</a> - 
    <a href="{% url 'picker:season_detail' game.season.id %}">{{ game.season }}</a> -
    <a href="{% url 'picker:game_detail' game.id %}">{{ game }}</a>
{% endblock %}

{% block page_title %}
    <h1 class="page_title">{{ game }}</h1>
{% endblock %}

{% block content %}

    <section class="grid left">

        <div class="widget">
            <h2>Game Details</h2>
            <div class="widget_content_wrapper">
                {% ifequal game.complete True %}
                    {{game.away_team.abreviation}} {{ game.away_score }} - {{game.home_team.abreviation}} {{ game.home_score }}
                {% else %}
                    <p>Kickoff Time: {{ game.kickoff_time }}</p>
                {% endifequal %}
            </div>
        </div>
    
    </section>
    <section class="grid right">
            
        <div class="widget">
            <h2>This game's picks</h2>
            {% if away_picks %}
                <h3>{{ game.away_team }} ( {{ away_picks|length }} )</h3>
                {% include 'picker/snippits/pick_list.html' with pick_list=away_picks %}
            {% else %}
                <div class="notice">No one has picked {{ game.away_team }}.</div>
            {% endif %}
        
            {% if home_picks %}
                <h3>{{ game.home_team }} ( {{ home_picks|length }} )</h3>
                {% include 'picker/snippits/pick_list.html' with pick_list=home_picks %}
            {% else %}
                <div class="notice">No one has picked {{ game.home_team }}.</div>
            {% endif %}
        </div>
        
        {% if pick_history %}
            <div class="widget">
                <h2>Pick History</h2>
                <div class="widget_content_wrapper">
                    {% include 'picker/snippits/pick_list_lite.html' with pick_list=pick_history only %}
                </div>
            </div>
        {% endif %}
    </section>
    
    <section class="grid middle">
        
    </section>
{% endblock %}