{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'index' %}">CGBS</a> - 
    <a href="{% url 'picker:season_detail' season.id %}">{{ season }}</a>
{% endblock %}

{% block page_title %}
    <h1 class="page_title">{{ season }}</h1>
{% endblock %}

{% block content %}

    <div class="page_column_wrapper">
        <div class="page_column">
            
            <div class="widget">
                <h2>Season Details</h2>
                <div class="widget_content_wrapper">
                    <table>
                        <tr>
                            <td>Name</td><td>{{ season.name }}</td>
                        </tr>
                        <tr>
                            <td>Current Week</td><td>{{ season.current_week }}</td>
                        </tr>
                        <tr>
                            <td>Number of Users</td><td>{{ season.users|length }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            
    
            {% if not request.user in season.users.all %}
                {% include 'picker/snippits/join_season.html' with season=season %}
            {% endif %}
            
            <div class="widget">
                <h2>Users in this season</h2>
                <div class="widget_content_wrapper">
                    {% include 'picker/snippits/season_user_record_list.html' %}
                </div>
            </div>
            
            

        
        </div>
        <div class="page_column">
            
            <div class="widget">
                <h2>This Week's Games</h2>
                <div class="widget_content_wrapper">
                <h3>Week {{ season.current_week }}</h3>
                {% include 'picker/snippits/game_list.html' with game_list=this_weeks_games user=request.user only %}
                </div>
            </div>
            
            {% if passed_games %}
                <div class="widget">
                <h2>Passed Games</h2>
                    <div class="widget_content_wrapper">
                        {% for week_number, week_of_games in passed_games.items %}
                            <h3>Week {{ week_number }}</h3>
                            {% include 'picker/snippits/game_list.html' with game_list=week_of_games user=request.user only %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            
            
        </div>
    </div>

{% endblock %}