{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block content %}

    <h1 class="page_title">{{ season }} - Week {{ season.current_week }}</h1>

    <!-- Left Column -->
    <section class="grid left">

        <div class="widget">
            <h2>Leaderboard</h2>
            <div>
                <ol class="user_list">
                {% for user, record in season.get_all_user_records %}
                    <li><a href="{% url 'picker:user_detail' season_pk=season.id user_pk=user.id %}">{{ user }} ({{ record.0 }} - {{ record.1 }})</a></li>
                {% endfor %}
                </ol>
            </div>
        </div>
    </section>
    
    <!-- Right Column -->
    <section class="grid right">
        <div class="widget">
            <h2>Passed Games</h2>
            {% if passed_games %}
            
                {% for week_number, week_of_games in passed_games.items %}
                    <h3>Week {{ week_number }}</h3>
                    {% include 'picker/snippits/game_list.html' with game_list=week_of_games target_user=request.user %}
                {% endfor %}
            {% else %}
                <span class="notice">No Passed Games</span>
            {% endif %}
        </div>
    </section>        
    
    <section class="grid middle">
        {% if request.user in season.users.all %}
            <div class="widget">
                <h2>This Week's Games</h2>
                {% include 'picker/snippits/pick_form_lite.html' with game_list=this_weeks_games %}
            </div>
        {% else %}
            {% include 'picker/snippits/join_season_form.html' with season=season %}
        {% endif %}
    </section>


{% endblock %}