{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block page_title %}

{% endblock %}

{% block content %}

    <h1>College Gameday Board of Science</h1>
    <section class="front_page">

        <div class="widget">
            <h2>Select an Active Season</h2>
            <ul class="season_list">
                {% for season in season_list %}
                    <a href="{% url 'picker:season_detail' pk=season.id %}"><li> {{ season }} </li></a>
                {% endfor %}
            </ul>

        </div>
        
        <div class="widget">
            <h2>News</h2>
            <ul>
                <li>
                    Registration for CGBS begin August 21st.
                    <aside>Tyler Darsey, 7-28-2015</aside>
                </li>
            </ul>
        </div>

    </section>


{% endblock %}