{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block content %}

    <h1 class="page_title">{{ season }} - Week {{ season.current_week }}</h1>

    <!-- Left Column -->
    <section class="grid left">
        
        <div class="widget">
            <h2>Season Details</h2>
            <div>
                <ul>
                    <li>Number of Users: {{ season.users.all|length }}</li>
                    <li>Active: {{ season.active }}</li>
                </ul>
            </div>
        </div>
        
        <div class="widget">
            <h2>Leaderboard</h2>
            <div>
                {% include 'picker/snippits/season_user_record_list.html' %}
            </div>
        </div>
    </section>
    
    <!-- Right Column -->
    <section class="grid right">
        <div class="widget">
            <h2>Passed Games</h2>
            {% if passed_games %}
            
                {% for week_number, week_of_games in passed_games.items %}
                    <h3>Week {{ week_number }}</h3>
                    {% include 'picker/snippits/game_list.html' with game_list=week_of_games user=request.user only %}
                {% endfor %}
            {% else %}
            <span class="notice">No Passed Games</span>
            {% endif %}
        </div>
    </section>        
    
    <section class="grid middle">
        {% if request.user in season.users.all %}
            <div class="widget">
                <h2>This Week's Games</h2>
                {% include 'picker/snippits/pick_form_lite.html' with game_list=this_weeks_games %}
            </div>
        {% else %}
            {% include 'picker/snippits/join_season_form.html' with season=season %}
        {% endif %}
    </section>


{% endblock %}