{% load picker_extras %}


{% for game in game_list %}

<div class="game_list">
    <a href="{% url 'picker:game_detail' pk=game.id %}"

    {% if target_user.is_active %}
        {% if game.complete %}
            {% with game|get_game_pick_by_author:target_user as pick %}
                class="
                    {% ifequal game.winner pick.winner %}
                        good_pick
                    {% else %}
                        bad_pick
                    {% endifequal %}"
            {% endwith %}
        {% endif %}
    {% endif %}
    >{{ game }}</a>
    
</div>

{% endfor %}
