{% load picker_extras %}

<ul class="game_list">
{% for game in game_list %}



    <a href="{% url 'picker:game_detail' pk=game.id %}">
    <li
    

    {% if user.is_authenticated %}
        {% if game.complete %}
            {% with game|get_game_pick_by_author:user as pick %}
                class="
                    {% ifequal game.winner pick.winner %}
                        good_pick
                    {% else %}
                        bad_pick
                    {% endifequal %}"
            {% endwith %}
        {% endif %}
    {% endif %}
    >{{ game }}</li>

    </a>
    


{% endfor %}
</ul>