{% load picker_extras %}

{% if request.user %}
<ul>
{% for game in game_list %}

        <li>
            <form class="pick_form_lite" name="game_{{ game.pk }}">
                <h2><a href="{% url 'picker:game_detail' pk=game.id %}">{{ game }}</a></h2>
                {% csrf_token %}
                <input type="hidden" name="game_pk" value="{{ game.pk }}"/>
                <input type="hidden" name="away_team" value="{{ game.away_team.pk }}"/>
                <input type="hidden" name="home_team" value="{{ game.home_team.pk }}"/>
                <button 
                        name="away_pick_button"
                        onclick="onPickButtonPress({{ game.pk }}, {{ game.away_team.pk }})"
                >
                    {{game.away_team}}
                </button>
                <button 
                        name="home_pick_button"
                        onclick="onPickButtonPress({{ game.pk }}, {{ game.home_team.pk }})"
                >
                    {{game.home_team}}
                </button>
            </form>
        </li>

{% endfor %}
</ul>

<script>

    function onPickButtonPress(game_pk, winner_pk){
        event.preventDefault();
        
        var form = getPickForm(game_pk);
        var game_pk = form.find("input:hidden[name=game_pk]").val();
        var csrf_token = form.find("input:hidden[name=csrfmiddlewaretoken]").val();
        pickGame(game_pk, winner_pk, csrf_token);
    };
    
    function getPickForm(game_pk){
        return $(document).find("form[name=game_{0}]".replace("{0}", game_pk));
    };

    function pickGame(game_pk, winner_pk, csrf_token){
        
        form_data = {}
        form_data['game'] = game_pk
        form_data['winner'] = winner_pk
        form_data['csrfmiddlewaretoken'] = csrf_token
        
        
        $.ajax({
            url: "/picker/pick_submit/",
            type: "POST",
            data: form_data
        })
        //.done(function(response){ alert("Game Picked: " + response); })
        .success(function(response){
            setIndicatedPick(game_pk, winner_pk);
        })
        .fail(function(response){ 
            var message = "Problem Picking Game";

            alert(message);
            
        })
        .always(function(){});
    }
    
    function setIndicatedPick(game_pk, winner_pk){

        form = getPickForm(game_pk);
        away_pick_button = form.find("button[name='away_pick_button']");
        home_pick_button = form.find("button[name='home_pick_button']");
        away_team_pk = form.find("input:hidden[name=away_team]").val();
        home_team_pk = form.find("input:hidden[name=home_team]").val();
        
        
        if(winner_pk == away_team_pk){
            away_pick_button.addClass("current_pick")
            home_pick_button.removeClass("current_pick")
        };
        if(winner_pk == home_team_pk){
            away_pick_button.removeClass("current_pick")
            home_pick_button.addClass("current_pick")
        };
    }
    
    function getPicks(game_pks){
        call_data = {
            games: game_pks
        }

        $.ajax({
            url: "/picker/get_picks/",
            type: "POST",
            data: call_data
        })
        
        //.done(function(response){ alert("Game Picked: " + response); })
        .success(function(response){
            //console.log(response)
            //setIndicatedPick(game_pk, winner_pk);
            for(game_pk in response.picks)
            {
                winner_pk = response.picks[game_pk];
                //console.log(game_pk, pick_winner_pk);
                setIndicatedPick(game_pk, winner_pk);
            }
        })
        .fail(function(response){ 
            console.log(response);
            alert("Error retrieving picks.")
        })
        .always(function(){});
    }
    
    $(document).ready(function(){
            //TODO: Lets try to get this with the form's id
            games = "{% for game in game_list %}{% if not forloop.first %}, {% endif %}{{ game.id }}{% endfor %}";
            getPicks(games);
        }
    );
</script>

{% endif %}
