@font-face{
    font-family: 'PT_Sans';
    src: url('/static/webfont/PTC55F.ttf') format('truetype');
}


html, body{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans';
    font-weight: 300;
    color:#333;
}

body{
    background-color: #EEE;
/*
background: rgba(235,235,235,1);
background: -moz-linear-gradient(top, rgba(235,235,235,1) 0%, rgba(250,250,250,0.64) 36%, rgba(255,255,255,0) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(235,235,235,1)), color-stop(36%, rgba(250,250,250,0.64)), color-stop(100%, rgba(255,255,255,0)));
background: -webkit-linear-gradient(top, rgba(235,235,235,1) 0%, rgba(250,250,250,0.64) 36%, rgba(255,255,255,0) 100%);
background: -o-linear-gradient(top, rgba(235,235,235,1) 0%, rgba(250,250,250,0.64) 36%, rgba(255,255,255,0) 100%);
background: -ms-linear-gradient(top, rgba(235,235,235,1) 0%, rgba(250,250,250,0.64) 36%, rgba(255,255,255,0) 100%);
background: linear-gradient(to bottom, rgba(235,235,235,1) 0%, rgba(250,250,250,0.64) 36%, rgba(255,255,255,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#ffffff', GradientType=0 );
*/

    /*background-image: url('/static/images/Mississippi State 2.png');*/

}

h1, h2, h3{
    font-family: 'PT_Sans' arial;
}


hr {
    margin: 0px;
    padding: 0px;
    border: solid thin #AAA;
    border-width: 1px 0px 0px 0px;
}


#page_wrapper{
    margin: 0px 50px;
    margin-top: 20px;
    overflow:hidden;
    
    /*
    border: solid thin #666666;
    border-width: 0px 1px 1px;
    box-shadow: 3px 5px 8px #000000;*/
}

#breadcrumb_bar{
    color:#BBB;
    padding: 10px 40px;
    text-shadow: 1px 1px 3px #BBB;
    border-bottom: solid 1px #D8D8D8;
}

#breadcrumb_bar a{
    color: #999;
    margin: 0px 5px;
}


.page_title{
    padding: 0px 0px;
    margin: 0px;
    margin-top: 10px;
}


/*Grid View*/


.grid.left{
    float:left;
    width: 18em;
}

.grid.right{
    float:right;
    width: 18em;
}

.grid.middle{
    overflow: hidden;
}

.grid.middle h2{
    text-align: center;
}

/*end Grid View*/

/* Matchup */
.matchup {
    background-color: #DDD;
}

.matchup  > .left, .right{
    text-align: center;
    display: inline-block;
    width: 49%;
}

.matchup  > .left{
    float: left;
}

.matchup > .right{
    float:right;
}
/* end matchup */

.center_layout{
    text-align: center;
}

.front_page{
    max-width:50em;
    margin-left:auto;
    margin-right: auto;
}

.front_page .widget{
    margin-bottom: 5em;
}

.fancy_button{
    background: #222;
    border-radius: 5px;
    border: None;
    text-shadow: 1px 1px 2px #666666;
    color: #F8F8F8;
    font-size: 24px;
    padding: 5px 15px;
    text-decoration: None;
    width: 100%;
}

.fancy_button:hover{
    background: #666;
    cursor: pointer;
}


.widget{
    display:inline-block;
    vertical-align: top;
    width: 100%;
    text-align: left;
    margin-top: 10px;
}

.widget > div{
    padding: 5px;
}

.widget h2{
    margin: 0px;
    padding: 3px 6px;
    font-size: 18px;
}

.widget h3{
    font-size: 18px;
    margin: 0;
    padding: 10px 0 3px 25px;
    color: #666;
    font-weight: 300;
    font-size: 12px;
}

.widget p{
    margin: 10px 25px;
}

.widget ul{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.widget form{
    margin-bottom: None;
    padding: None;
}

.season_list a{
    font-size: 32px;
    text-align: center;
    color: #222;
    border: solid thin #DDD;
    width: 100%;
    display: block;
    padding: 10px 0px;
    border-radius: 20px;
}

.season_list a:hover{
    background-color: #EEE;
    box-shadow: inset 0px 0px 25px 0px #DDD;
}

.game_list{
     list-style-type: none;
     padding-left:0;
}

.game_list a{
    color: #333;
    display: block;
    padding: 2px 5px;
    margin-bottom: 2px;
    
}

.game_list a:hover{
    box-shadow: inset 0 0 8px #999;
}

.good_pick{
    background-color: #CBEAC8;
}

.bad_pick{
    background-color: #E8CFCA;
}
/*end picks for game_list*/

.pick_list_lite{
    font-size: 14px;
}

.pick_list_lite .timestamp{
    font-size: 12px;
    letter-spacing: -1px;
    color: #888;
}

.pick_form{
    text-align: center;
}

.pick_form_lite{
    display: inline-block;
    width: 100%;
    text-align: center;
}

.pick_form_lite h2 a{
    color: #222;
}

.pick_form_lite h2 a:hover{
    color: #666;
}

.pick_form_lite button{
    width: 12em;
    height: 3em;
    vertical-align: top;
    border-radius: 0px;
    min-width: 10em;
    font-weight: 300;
    background-color: #DDD;
    border: solid thin #EEE;
    color: #666;
    font-size: 20px;
}

.pick_form_lite button:hover{
    text-decoration: underline;
    border: None;
    cursor: pointer;
}

.pick_form_lite .current_pick{
    background-color: #27651F !important;
    color: #EEE !important;
}

.pick_counter > div{
    font-family: arial !important;
}

/*Forms*/

.fancy_form{
    text-align: left;
    display: inline-block;
    margin-left:auto;
    margin-right: auto;
    padding: 20px 20px;
}

.fancy_form p{ 
    margin: 0px;
    margin-bottom: 20px;
}

.fancy_form input, .fancy_form textarea{
    display: block;
    padding:5px 8px;
    height: 2.5em;
    width: 100%;
    min-width: 20em;
    font-size: 20px;
    border-radius: 5px;
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
}

.fancy_form input:focus, .fancy_form textarea:focus{
    border: 1px solid #555;
    box-shadow: 0 0 3px #aaa;
    background: #fff;
}


.fancy_form label{
    min-width: 8em;
    display: inline-block;
    margin-top: 3px;
}

.fancy_form .submit{
    background: #222;
    border-radius: 5px;
    border: None;
    text-shadow: 1px 1px 2px #666666;
    color: #F8F8F8;
    font-size: 24px;
    padding: 5px 15px;
    text-decoration: None;
    width: 100%;
    /*
    box-shadow: none;
    background: #858f7e;
    background-image: -webkit-linear-gradient(top, #858f7e, #2f3631);
    background-image: -moz-linear-gradient(top, #858f7e, #2f3631);
    background-image: -ms-linear-gradient(top, #858f7e, #2f3631);
    background-image: -o-linear-gradient(top, #858f7e, #2f3631);
    background-image: linear-gradient(to bottom, #858f7e, #2f3631);
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;*/
}

.fancy_form .submit:hover{
    background: #666;
    cursor: pointer;
    
    /*
    background: #29dbdb;
    background-image: -webkit-linear-gradient(top, #29dbdb, #217e85);
    background-image: -moz-linear-gradient(top, #29dbdb, #217e85);
    background-image: -ms-linear-gradient(top, #29dbdb, #217e85);
    background-image: -o-linear-gradient(top, #29dbdb, #217e85);
    background-image: linear-gradient(to bottom, #29dbdb, #217e85);
    text-decoration: none;
    cursor: pointer;
    */
}

.fancy_form .helptext{
    color: #999;
    width: 5px;
    font-size: 14px;
    font-style: italic;
}



.fancy_form .errorlist{
    padding: 0px;
    margin: 0px;
    list-style-type: None;
    color: #C00;
    font-style: italic;
}

/*generic and messages and stuff*/

.notice{
    display: block;
    padding: 10px 10px;
    margin: 10px 10px;
    text-align: center;
    font-style: italic;
    font-size: 18px;
    color: #888;
}

/*slimmenu customizations*/

.collapse-button:hover, .collapse-button:focus {

}

.slimmenu_wrapper{
    z-index: 1;
    box-shadow: 0px 5px 10px #888;
}

ul.slimmenu {
    /*changes by lebull*/
    text-align: right;
    border: solid thin black;
    border-width: 0px 0px 0px 0px;
    background-color: #AAA;
        
    background: rgba(106,163,83,1);
    background: -moz-linear-gradient(left, rgba(106,163,83,1) 0%, rgba(26,138,11,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(106,163,83,1)), color-stop(100%, rgba(26,138,11,1)));
    background: -webkit-linear-gradient(left, rgba(106,163,83,1) 0%, rgba(26,138,11,1) 100%);
    background: -o-linear-gradient(left, rgba(106,163,83,1) 0%, rgba(26,138,11,1) 100%);
    background: -ms-linear-gradient(left, rgba(106,163,83,1) 0%, rgba(26,138,11,1) 100%);
    background: linear-gradient(to right, rgba(106,163,83,1) 0%, rgba(26,138,11,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6aa353', endColorstr='#1a8a0b', GradientType=1 );
/*
http://www.cssmatic.com/gradient-generator#'\-moz\-linear\-gradient\%28left\%2C\%20rgba\%28106\%2C163\%2C83\%2C1\%29\%200\%25\%2C\%20rgba\%2826\%2C138\%2C11\%2C1\%29\%20100\%25\%29\%3B'*/
}

ul.slimmenu li{
    width:180px;
    text-align: left;
    background: None;
    border: None;
}

ul.slimmenu li a{
    text-decoration: none;
    color: #FFF;
    text-shadow: 1px 1px 4px #AAA;
}

ul.slimmenu li a:hover{
    background-color: #27651F;
}

ul.slimmenu li ul li{
    background-color: #92B18E;
}

.menu-collapser{
    background-color:#27651F;
}

/*
.slimmenu_wrapper .logo{
    float:left;
    background-color: #657232;
    height: 23px;
    margin-top: 5px;
    margin-left: 15px;
    padding: 5px;
    border: solid 4px #222;
    box-shadow: 2px 2px 5px #333;
    
}*/

.slimmenu_wrapper_hide{
    top: -43px;
}

.slimmenu_wrapper_show{
    
}
/*http://paletton.com/#uid=13-0u0kbUKy2QZd7jTigl-ikusS*/


@media screen and (max-width: 1100px) {
    
    body{
        min-width: 300px;
    }
    
    #page_wrapper{
        padding-top: 43px;
        margin: 0px;
    }
    
    #content_wrapper{
        padding: 0px;
        margin: 0px;
        width: 100%;
    }
    
    .grid{
        float: None;
        width: 100%;
    }
    
    .grid.middle{
        overflow: initial;
    }
    
    .page_column{
        width: 100%;
    }
    
    .grid.left, .grid.right{
        float:None;
        width: 100%;
    }

    
    .widget{
        box-shadow: None;
    }
    
    .game_list .winner{
        display: block;
        float: None;
    }
    
    .game_list .pick{
        display: block;
        float: None;
    }
    
    /*http://jsfiddle.net/mariusc23/s6mLJ/31/*/
    
    .slimmenu_wrapper{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        transition: top 0.2s ease-in-out;
    }
}