<!--Menu Body-->
<ul class="slimmenu">
    <li><a href="/">Home</a></li>
    {% if user.is_authenticated %}
    <li><a>Account</a>
        <ul>
            <li><a>Account Settings</a></li>
            <li><a href="{% url 'django.contrib.auth.views.password_change' %}">Change Password</a></li>
            <li><a href="{% url 'django.contrib.auth.views.logout'%}">Logout</a></li>
        </ul>
    </li>

    {% else %}
    <li><a href="{% url 'django.contrib.auth.views.login'%}">Login</a></li>
    <li><a href="/accounts/register">Register</a></li>
    {% endif %}
</ul>
    
<script>
$('ul.slimmenu').slimmenu(
{
    resizeWidth: '800',
    collapserTitle: 'Main Menu',
    easingEffect:null,
    animSpeed:'fast',
    indentChildren: false,
    childrenIndenter: '&raquo;'
});
</script>

<!--End Menu Body-->

<!--
Possible menu solutions

http://cssdeck.com/labs/limited-drop-down-menu
http://codepen.io/portable_hole/pen/zvCyb
-->